body{
    background-color: rgb(0, 0, 0);
    color: #fff;
}

/* Navbar Styling */
.nav-item > a {
    color: rgb(183, 183, 183);
    font-size: larger;
    font-style: italic;
    font-family: sans-serif;
    
}

.nav-item > a:hover {
    color: rgb(223, 194, 30);
}
/*Home section start*/
.image {
position: relative;
    width: 100%;
    height: 100vh;
}

.image img {
    width: 100%;
    height: 100%;
  
}


   
/*Menu Section */
.card img{
    height: 280px;
    width: 350px;
}
.card img{
    /* border-bottom-right-radius:15%; */
    border-bottom-left-radius:30%;
    transition: transform 0.3s ease-in-out;
    /* border-top-left-radius:15%; */
}
.card img:hover{
    transform: scale(1.03)
}
.card-body h3{
    font-weight: bold;
    font-family:  monospace;
    font-style: italic;

}
.card-body i:hover{
    color: rgb(247, 153, 46);
    cursor: pointer;
}
/*About Section*/
.imags img {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    object-fit: cover;
    margin-top: 45px;
  }
  
/*Customer Responce*/
.plain-card {
   margin-top: 20px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
.plain-card:hover{
    transform: scale(1.03);
}
.plain-card img{
    height: 210px;
    width: 400px;
}

/* login-section 
*/
.booking-section {
    background-image: url('https://assets.cntraveller.in/photos/66eba5797fa1cd508d7c6d34/16:9/w_1024,c_limit/Copy-of-Food-at-Waarsa.jpg'); /* You can replace with any HD food/hotel background */
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    position: relative;
    color: #fff;
    margin-top: 60px;
}

.booking-form {
    background: rgba(255, 255, 255, 0.15); /* Glass effect */
    backdrop-filter: blur(6px);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    color: #000;
}

.booking-form label {
    font-weight: bold;
}

.booking-title {
    font-family: serif;
    font-style: italic;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}
/* footer */
.footer {
        margin-top: 100px;
    /* height: 200px; */
    color: #fff;
      background-color:black;
}

.footer h3 {
    color: #fff;
    
}
.underline-red {
    color: rgb(236, 207, 145);
    font-size: 1.3rem;
    font-family:serif;
    text-decoration: underline;
    text-decoration-color: rgb(248, 248, 248);
}
 
